NEXT_PUBLIC_YANDEX_VERIFICATION=a22222aaa222222aaa22222aa
NEXT_PUBLIC_API_URL=https://example.su
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_YANDEX_MAPS_KEY=a22222aaa222222aaa22222aa
NEXT_PUBLIC_APP_STORE_LINK=https://apps.apple.com/ru/app/subway-surfers/id512939461
NEXT_PUBLIC_GOOGLE_PLAY_LINK=https://apps.apple.com/ru/app/subway-surfers/id512939461
NEXT_PUBLIC_RUSTORE_LINK=https://apps.apple.com/ru/app/subway-surfers/id512939461
NEXT_PUBLIC_APP_GALLERY_LINK=https://apps.apple.com/ru/app/subway-surfers/id512939461
NEXT_PUBLIC_VK_LINK=https://vk.com/
NEXT_PUBLIC_TG_LINK=https://web.telegram.org/
NEXT_PUBLIC_TT_LINK=https://www.tiktok.com/
NEXT_PUBLIC_SUPPORT_EMAIL=example@gmail.com
NEXT_PUBLIC_CONTACTS_EMAIL=example@gmail.com