# dev | prod
NODE_ENV=dev

# Backend
SECRET_KEY=CHANGETHIS
SWAGGER_BACKEND_URL=http://localhost:3000

PORT=3000
HOST=localhost

# DB
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=postgres
# To connect url to database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?schema=public