# dev | prod
NODE_ENV=dev

# Backend
SECRET_KEY=CHANGETHIS
SWAGGER_BACKEND_URL=http://localhost:3000

PORT=3000
HOST=localhost

ACCESS_TOKEN_EXPIRATION_TIME=30m
REFRESH_TOKEN_EXPIRATION_TIME=30d

# DB
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=postgres
# To connect url to database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?schema=public

# S3 Storage
S3_REGION=ru-1
S3_ENDPOINT=https://s3.regru.cloud
S3_BUCKET_NAME=name
S3_ACCESS_KEY_ID=a_key
S3_SECRET_ACCESS_KEY_ID=secret_a_key

# SMTP
EMAIL_HOST=smtp.smomehost.some
EMAIL_USERNAME=someaddr@some.provider
EMAIL_PASSWORD=some_passw
