{
	"{app,components,constants,helpers,hooks,scripts}/*.{js,jsx,ts,tsx}": ["yarn expo lint --fix", "prettier --write"],
	"{app,components,constants,helpers,hooks,scripts}/*.{css,scss,less,json,md,html}": ["prettier --write"]
}
