.user-location-container {
  position: relative;
  width: 60px;
  height: 60px;
}

.user-location-dot {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: #1da1f2;
  border-radius: 50%;
  z-index: 1;
}

.user-location-dot:after {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

.user-location-dot-pulse {
  position: absolute;
  background-color: #1da1f2;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: user-location-pulse 2s infinite;
  opacity: 0;
}

@keyframes user-location-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  70% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.user-location-orbit {
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transform: rotate(${heading}deg);
}

.user-location-orbit-arrow {
  position: absolute;
  width: 16px;
  height: 12px;
  background-color: #1da1f2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);

  clip-path: polygon(
    0% 7.75%,
    24.82% 16.65%,
    50% 21.04%,
    77.17% 16.65%,
    100% 7.75%,
    50% 100%
  );
}
